@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600&display=swap');
$primary: #0017f5;
$info: #10316b;
$warning: #f0be41;
$family-sans-serif: 'Raleway', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@import '~bulma/bulma.sass';
@import '~bulma-timeline';
@import './highlight.scss';

$pink: #f1bbb9;
.notification.is-pink {
  background: $pink;
}
.navbar-menu {
  background: $dark;
  .navbar-item {
    color: $white;
    &:hover {
      background: $dark;
    }
  }
}

.blog.content {
  font-size: 1.25rem;
}

.blog.content .tag,
.blog.content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
